In [13]:
from galileojp.frames import ExperimentFrameGateway
from galileojp.widgets import experiment_dropdown
import matplotlib.pyplot as plt
import pandas as pd
import os

columns = ['name', 'concurrent_requests', 'mean', 'stdev', 'median', 'q25', 'q75', 'q90', 'q99']
normal_counts = [6, 9, 12, 18, 24, 36]
edge_counts = [2, 3, 6, 9]

def get_normal_names(t, counts):
    names = []
    for c in counts:
        names.append((c, str(c) + '-concurrent-' + t))
    return names

def get_edge_names(t, counts):
    names = []
    for c in counts:
        names.append((c, str(c) + '-concurrent-edge_' + t))
    return names

print(os.environ.get('galileo_expdb_sqlite_path'))
fgw = ExperimentFrameGateway.from_env()

/home/jp/Documents/GitProjects/traefik-results/full_test.sqlite

In [14]:
xp = fgw.experiments()
def id_by_name(name):
    return xp[xp['NAME'] == name]['EXP_ID'].iloc[0]

In [15]:
normal_rr_names = get_normal_names('rr', normal_counts)
normal_lrt_names = get_normal_names('lrt', normal_counts)
edge_rr_names = get_edge_names('rr', edge_counts)
edge_lrt_names = get_edge_names('lrt', edge_counts)


df = pd.DataFrame(columns=columns)

pdf_df = pd.DataFrame(columns=columns)
i = 0
for (concurrent, name) in normal_rr_names:
    traces = fgw.traces(id_by_name(name))
    mean = traces['RTT'].mean()
    median = traces['RTT'].median()
    std = traces['RTT'].std()
    q25 = traces['RTT'].quantile(q=0.25)
    q75 = traces['RTT'].quantile(q=0.75)
    q90 = traces['RTT'].quantile(q=0.90)
    q99 = traces['RTT'].quantile(q=0.99)
#     print([concurrent, mean, std, median, q25, q75, q90, q99])
    pdf_df.loc[i] = ['rr', concurrent, mean, std, median, q25, q75, q90, q99]
    i += 1
    
for (concurrent, name) in normal_lrt_names:
    traces = fgw.traces(id_by_name(name))
    mean = traces['RTT'].mean()
    median = traces['RTT'].median()
    std = traces['RTT'].std()
    q25 = traces['RTT'].quantile(q=0.25)
    q75 = traces['RTT'].quantile(q=0.75)
    q90 = traces['RTT'].quantile(q=0.90)
    q99 = traces['RTT'].quantile(q=0.99)
#     print([concurrent, mean, std, median, q25, q75, q90, q99])
    pdf_df.loc[i] = ['lrt', concurrent, mean, std, median, q25, q75, q90, q99]
    i += 1

for (concurrent, name) in edge_rr_names:
    traces = fgw.traces(id_by_name(name))
    mean = traces['RTT'].mean()
    median = traces['RTT'].median()
    std = traces['RTT'].std()
    q25 = traces['RTT'].quantile(q=0.25)
    q75 = traces['RTT'].quantile(q=0.75)
    q90 = traces['RTT'].quantile(q=0.90)
    q99 = traces['RTT'].quantile(q=0.99)
#     print([concurrent, mean, std, median, q25, q75, q90, q99])
    pdf_df.loc[i] = ['edge-rr', concurrent, mean, std, median, q25, q75, q90, q99]
    i += 1

for (concurrent, name) in edge_lrt_names:
    traces = fgw.traces(id_by_name(name))
    mean = traces['RTT'].mean()
    median = traces['RTT'].median()
    std = traces['RTT'].std()
    q25 = traces['RTT'].quantile(q=0.25)
    q75 = traces['RTT'].quantile(q=0.75)
    q90 = traces['RTT'].quantile(q=0.90)
    q99 = traces['RTT'].quantile(q=0.99)
#     print([concurrent, mean, std, median, q25, q75, q90, q99])
    pdf_df.loc[i] = ['edge-lrt', concurrent, mean, std, median, q25, q75, q90, q99]
    i += 1

In [12]:
# pdf_df['div'] = pdf_df['mean'] / pdf_df['concurrent_requests']
pdf_df

,name,concurrent_requests,mean,stdev,median,q25,q75,q90,q99
0,rr,6,164.852046,82.594635,141.628265,95.284641,199.138820,288.140750,424.793417
1,rr,9,186.620809,109.848297,158.154249,97.656012,213.955402,338.686991,564.317570
2,rr,12,237.622503,223.412921,153.833151,96.611023,279.959202,517.200756,1128.013172
3,rr,18,368.422221,490.210610,156.833649,97.487450,322.588801,1122.753620,2274.269986
4,rr,24,485.659430,744.529904,156.971455,96.205890,331.347644,1406.890011,3423.547919
5,rr,36,733.774751,1262.705592,159.806728,96.149027,393.199623,2228.798771,5780.136552
6,lrt,6,150.937866,72.296878,136.411905,90.463698,188.755453,238.821745,405.185094
7,lrt,9,157.209349,84.287019,137.501717,91.238320,191.387773,249.683976,475.660903
8,lrt,12,184.502787,159.597349,139.998674,92.155933,198.569298,317.600012,912.505903
9,lrt,18,232.365874,263.144113,149.269581,92.737436,228.024662,486.698651,1488.225281
10,lrt,24,297.089855,409.232521,151.440620,95.183849,233.721733,775.139952,2067.776151
11,lrt,36,490.132155,831.977467,152.676702,93.854070,296.163619,1590.092468,4014.050820
12,edge-rr,2,224.326973,89.185850,235.117197,137.928784,330.962002,339.989901,356.119406
13,edge-rr,3,236.801938,74.264981,239.252925,192.947626,282.417595,338.420820,367.759190
14,edge-rr,6,206.966033,68.840100,206.972837,150.465965,244.698048,284.267902,405.721092
15,edge-rr,9,218.604558,83.346735,208.720922,148.419499,254.673004,320.157290,480.122757
16,edge-lrt,2,185.573037,86.875691,162.373066,106.389999,244.140148,334.891605,352.303791
17,edge-lrt,3,215.922682,81.912665,233.074427,141.742110,256.615877,336.413097,394.880166
18,edge-lrt,6,212.555004,75.462169,226.224422,152.911425,248.445272,301.016951,424.968681
19,edge-lrt,9,212.542068,78.432341,199.640036,149.669170,248.106837,303.152084,478.087521

,name,concurrent_requests,mean,stdev,median,q25,q75,q90,q99
0,rr,6,164.852046,82.594635,141.628265,95.284641,199.138820,288.140750,424.793417
1,rr,9,186.620809,109.848297,158.154249,97.656012,213.955402,338.686991,564.317570
2,rr,12,237.622503,223.412921,153.833151,96.611023,279.959202,517.200756,1128.013172
3,rr,18,368.422221,490.210610,156.833649,97.487450,322.588801,1122.753620,2274.269986
4,rr,24,485.659430,744.529904,156.971455,96.205890,331.347644,1406.890011,3423.547919
5,rr,36,733.774751,1262.705592,159.806728,96.149027,393.199623,2228.798771,5780.136552
6,lrt,6,150.937866,72.296878,136.411905,90.463698,188.755453,238.821745,405.185094
7,lrt,9,157.209349,84.287019,137.501717,91.238320,191.387773,249.683976,475.660903
8,lrt,12,184.502787,159.597349,139.998674,92.155933,198.569298,317.600012,912.505903
9,lrt,18,232.365874,263.144113,149.269581,92.737436,228.024662,486.698651,1488.225281
10,lrt,24,297.089855,409.232521,151.440620,95.183849,233.721733,775.139952,2067.776151
11,lrt,36,490.132155,831.977467,152.676702,93.854070,296.163619,1590.092468,4014.050820
12,edge-rr,2,224.326973,89.185850,235.117197,137.928784,330.962002,339.989901,356.119406
13,edge-rr,3,236.801938,74.264981,239.252925,192.947626,282.417595,338.420820,367.759190
14,edge-rr,6,206.966033,68.840100,206.972837,150.465965,244.698048,284.267902,405.721092
15,edge-rr,9,218.604558,83.346735,208.720922,148.419499,254.673004,320.157290,480.122757
16,edge-lrt,2,185.573037,86.875691,162.373066,106.389999,244.140148,334.891605,352.303791
17,edge-lrt,3,215.922682,81.912665,233.074427,141.742110,256.615877,336.413097,394.880166
18,edge-lrt,6,212.555004,75.462169,226.224422,152.911425,248.445272,301.016951,424.968681
19,edge-lrt,9,212.542068,78.432341,199.640036,149.669170,248.106837,303.152084,478.087521

In [45]:
def diff_df(base, other):
    n = base.copy()
    n['mean'] = base['mean'] - other['mean']
    n['stdev'] = base['stdev'] - other['stdev']
    n['median'] = base['median'] - other['median']
    n['q25'] = base['q25'] - other['q25']
    n['q75'] = base['q75'] - other['q75']
    n['q90'] = base['q90'] - other['q90']
    n['q99'] = base['q99'] - other['q99']
    return n.drop(columns='index').round(1)

df = pdf_df
rr = df[df['name'] == 'rr'].reset_index()
lrt = df[df['name'] == 'lrt'].reset_index()
edge_rr = df[df['name'] == 'edge-rr'].reset_index()
edge_lrt = df[df['name'] == 'edge-lrt'].reset_index()
delta = diff_df(rr, lrt)
edge_delta = diff_df(edge_rr, edge_lrt)
edge_delta

      name concurrent_requests  mean  stdev  median   q25   q75   q90   q99
0  edge-rr                   2  38.8    2.3    72.7  31.5  86.8   5.1   3.8
1  edge-rr                   3  20.9   -7.6     6.2  51.2  25.8   2.0 -27.1
2  edge-rr                   6  -5.6   -6.6   -19.3  -2.4  -3.7 -16.7 -19.2
3  edge-rr                   9   6.1    4.9     9.1  -1.2   6.6  17.0   2.0